VITE_APPWRITE_URL="https://fra.cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID="6a48ce91000546f4d556"
VITE_APPWRITE__DATABASE_ID="6a4b7e060033f15adde8"
VITE_APPWRITE_COLLECTION_ID="articles"
VITE_APPWRITE_BUCKET_ID="6a4b8b49001b752f86f7"